.product{
    background-color: $product-bg-color;
    text-align: center;
    @include border-radius(10px);
    width: 250px;
    height: 360px;
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow;

    .product-name {
        padding: 1.1em 0;
        font-size: 1.4em;
        color: $primary-color;
        background-color: $product-bg-color;
        
    }

    .icon {
        display: block;
        font-size: 0.8em;

        .icon-background {
            width: 80px;
            height: 80px;
            line-height: 80px;
            border-top-left-radius: 10px;
            background-color: $primary-color;
            position: absolute;
            top: 0px;
            left: -40px;
            transform: skewX(-45deg);
        }
        .shopping-cart {
            color: $nav-fg-color;
            display: block;
            position: absolute;
            top: 8px;
            left: 8px;
            &:hover {
                color: $hover-color;
            }
        }
    }
}

.product-back {
    width: 250px;
    height: 360px;
    @include border-radius(10px);
    background-color: $product-bg-color;
    
    color: #EE3B24;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow;
    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: -1;
    top: -360px;
    transform: rotateY(180deg);
}

.product-menu {
    width: 100%;
    @include flexible (space-between, row, wrap);
    height: 360px;
    background-color: $product-bg-color;
    color: $primary-color;
    position: absolute;
    top: 80%;
    transition: all .7s;
}

.product-button {
    position: relative;
    padding-top: 20px;
    width: 50%;
    color: $primary-color;
    border-top: solid 1px $product-border-color;
}

.product-price, .buy-now {
    font-size: 1.5rem;
    @extend .product-button;
}

.buy-now {
    @extend .product-button;
    border-left: solid 1px $product-border-color;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: $hover-color;
        color: $primary-color;
    }
}

.product-detail, .cancel, .add-to-cart, .how-many{
    display: none;
}

.product-wrapper {
    display: inline-block;
    margin: 1em;
    height: 360px;
    transition: all 0.7s ease;
    perspective: 300px;
    transform-style: preserve-3d;    
}
