$primary-color: #002e5b;
$hover-color: #fed136;

$nav-bg-color: $primary-color;
$nav-fg-color: whitesmoke;
$nav-fg-color-hover:$primary-color;
$nav-bg-color-hover:$hover-color;
$product-bg-color: lightgrey;
$product-bg-color-hover:rgba(188, 202, 206, 0.15);

$product-color:$primary-color;
$product-color-hover:$hover-color;
$product-border-color: rgba(10, 18, 20, 0.54902);

$box-shadow:rgba(10, 18, 20, 0.54902) 0px 4px 13px 3px;